<!--Lunch Page-->
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lunch</title>
        <link rel="stylesheet" href="file:///C:/Users/Louisa%20Chege/Desktop/IS%20PROJ%201/static/style.css" />
        <style>
            body{
               background-image: url(   file:///C:/Users/Louisa%20Chege/Desktop/IS%20PROJ%201/static/images1/stew.jpg                         );
   
           }</style>
    </head>
    <body>
       
        <div id="container">
            <header>
                <div class="logo">
                    <img src ="file:///C:/Users/Louisa%20Chege/Desktop/IS%20PROJ%201/static/images1/logo.jpg  "width = "80" height = "80"alt = "site_logo"> 
                </div>
                <button class="nav-btn" aria-label="nav-button">
                    <span class="btn"></span>
                </button>
    
                <nav class="mynav">
                    <ul class="mynav_ls">
                        <li class="mynav_item"> <a href="welcome.html" class="mynav_link">Home</a></li>
                        <li class="mynav_item"> <a href="category.html" class="mynav_link">Back to Categories</a></li>
        
                    </ul>
                </nav>
              
            </header>
    
         <main>
            <section class="title">
                <h1> Lunch</h1>
            </section>
    
          <section id="boxes">
    
            <div class="dish">
                <h2>Rice</h2>
                <p class="photo"><img src = file:///C:/Users/Louisa%20Chege/Desktop/IS%20PROJ%201/static/images1/rice.jpg   width= "240" height="200" alt = "rice_image"></p>
                <p class="description">  Edible strachy cereal grain                    </p>
                <p class= "price">     Ksh.100              </p>
            </div>
    
            <div class="dish">
                <h2>  Githeri             </h2>
                <p class="photo"><img src = file:///C:/Users/Louisa%20Chege/Desktop/IS%20PROJ%201/static/images1/githeri.jpg width="210" height="200" alt = "githeri_image"></p>
                <p class="description"> Mixture of beans and maize cookes with tomatoes and onions</p>
                <p class= "price"> Ksh.100           </p>
            </div>
          
            <div class= "dish">
                <h2> Chapati            </h2>
                <p class="photo"><img src = file:///C:/Users/Louisa%20Chege/Desktop/IS%20PROJ%201/static/images1/chapati.jpg  width="230" height="200" alt = "chapati_image"></p>
                <p class="description"> A thin pancake of unleavened whole-grain bread                </p>
                <p class= "price">    Ksh.30                      </p>
            </div>    
                   
            <div class="dish">
                <h2> Beef Stew      </h2>
                <p class="photo"><img src = file:///C:/Users/Louisa%20Chege/Desktop/IS%20PROJ%201/static/images1/stew.jpg width="210" height="200" alt = "stew_image"></p>
                <p class="description">  A hearty dish that is prepared with chunky cuts of vegetables and chunks of Beef              </p>
                <p class= "price">Ksh.75         </p>
            </div>
    
                   
                   
         </section>  
         </main>
    
         <footer class="footer">
          <a href="mailto:strath.menu@gmail.com">strath.menu@gmail.com</a>
    
         
            <div class="socialitem">
                <a href="https://twitter.com">Twitter</a>
                <br>
                <a  href="https://facebook.com"> Facebook</a>
                <br>
                <a  href="https://instagram.com"> Instagram</a>
            </div>
                
        
        
           </footer>
        </div>
        <script src= file:///C:/Users/Louisa%20Chege/Desktop/IS%20PROJ%201/static/index.js></script>
    </body>
</html> 