<!--Snacks Page-->
<html lang ="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Snacks</title>
        <link rel="stylesheet" href="file:///C:/Users/Louisa%20Chege/Desktop/IS%20PROJ%201/static/style.css" />
        <style>
            body{
               background-image: url( file:///C:/Users/Louisa%20Chege/Desktop/IS%20PROJ%201/static/images1/muffin.jpg);
            
           }</style>
    </head>
    <body>
        <div id="container">
            <header>
                <div class="logo">
                    <img src ="file:///C:/Users/Louisa%20Chege/Desktop/IS%20PROJ%201/static/images1/logo.jpg  "width = "80" height = "80"alt = "site_logo"> 
                </div>
                <button class="nav-btn" aria-label="nav-button">
                    <span class="btn"></span>
                </button>
    
                <nav class="mynav">
                    <ul class="mynav_ls">
                        <li class="mynav_item"> <a href="welcome.html" class="mynav_link">Home</a></li>
                        <li class="mynav_item"> <a href="category.html" class="mynav_link">Back to Categories</a></li>
        
                    </ul>
                </nav>
            </header>
    
         <main>
            <section class="title">
                <h1> Snacks</h1>
            </section>
    
          <section id="boxes">
    
            <div class="dish">
                <h2>  Samosa      </h2>
                <p class="photo"><img src =   file:///C:/Users/Louisa%20Chege/Desktop/IS%20PROJ%201/static/images1/samosa.jpg width= "240" height="200" alt = "samosa_image"></p>
                <p class="description">  A triangular savoury pastry                </p>
                <p class= "price">     Ksh.35             </p>
            </div>
    
            <div class="dish">
                <h2> Mandazi    </h2>
                <p class="photo"><img src = file:///C:/Users/Louisa%20Chege/Desktop/IS%20PROJ%201/static/images1/mandazi.jpg   width="210" height="200" alt = "mandazi_image"></p>
                <p class="description">   A simple dough that is deep fried                           </p>
                <p class= "price"> Ksh.10   </p>
            </div>
          
            <div class= "dish">
                <h2>  Muffin           </h2>
                <p class="photo"><img src =file:///C:/Users/Louisa%20Chege/Desktop/IS%20PROJ%201/static/images1/muffin.jpg   width="230" height="200" alt = "muffin_image"></p>
                <p class="description">    Bread made from batter or dough            </p>
                <p class= "price">    Ksh.40</p>
            </div>    
                   
            <div class="dish">
                <h2> Doughnut    </h2>
                <p class="photo"><img src = file:///C:/Users/Louisa%20Chege/Desktop/IS%20PROJ%201/static/images1/donut.jpg width="210" height="200" alt = "donut_image"></p>
                <p class="description">    Fried cake of sweetened dough           </p>
                <p class= "price">Ksh.40      </p>
            </div>
    
                   
                   
         </section>  
         </main>
    
         <footer class="footer">
          <a href="mailto:strath.menu@gmail.com">strath.menu@gmail.com</a>
    
         
            <div class="socialitem">
                <a href="https://twitter.com">Twitter</a>
                <br>
                <a  href="https://facebook.com"> Facebook</a>
                <br>
                <a  href="https://instagram.com"> Instagram</a>
            </div>
                
        
        </div>
           </footer>
        </div>
        <script src= file:///C:/Users/Louisa%20Chege/Desktop/IS%20PROJ%201/static/index.js></script>
    </body>
</html> 