#container{
    display : grid;

  }
  #boxes{
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    text-align: center;
  } 
  button{
    justify-content: center;
  }
  .price {
    font-weight: bold;/* make price tags bold*/
    background: #F9AB33;/* make price tag background orange*/
    padding: 5px;
    width: 30%;
    text-align:center;/*price will appear at the center*/
    align-items: center;
  }
  .other_titles{
    text-align: center;
    font-size:large;
}  
img{

    border-radius: 50%;
  }
  .dish{
    background-color:wheat;
      width: 355px;
      text-align: center;
  }
  .description{
      text-align: center
  }
  label{
    font-size:large;
    
  }
  button a{
font-size: medium;
padding: .7em;
  }
  .title{
    text-align: center; 
    color: white;
    font-size:xx-large;
  }
  h2{
    font-size:larger; 
  }
  .footer {
      background:#F9AB33;
      color: var(--clr-light);
      text-align: center;
      padding: 2.5em 0;
      font-size: var(--fs-h3);
  }
  .footer a {
      color:black ;
      text-decoration: none;
    }
    
    .socialitem{
      background:#F9AB33;
     
    }
     .mynav{ /* navigation bar*/
        position: fixed;
        background:#F9AB33 ;
        color: var(--clr-light);
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 100;
        transform: translateX(100%);
        transition: transform 300ms ease-in-out;
    }
    
    .mynav_ls{/*links in the navigation bar*/
        list-style: none;
        display: flex;
        height: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    
    .mynav_link {/*links in the navigation bar*/
        color: inherit;
        font-weight: var(--fw-bold);
        font-size:x-large;
    }
    
    
    .nav-btn{
      padding: .7em;
      background:rgb(56, 25, 2);
      border: 0;
      cursor: pointer;
      position: absolute;
      right: 1em;
      top: 1em;
      z-index: 500;
    }
    
    .open-nav .mynav{  /*opens the navigation bar*/
      transform: translateX(0);
    }
    
/*
    body{
      background-color: burlywood

  }

  h1{
      font-size: 50px;
      text-align: center;
      
  }

  p{
      text-align: center;
      font-size: 30px;
  }

  form{
      text-align: center;
      font-size: 20px;

  }

  button{
      font-size: 15px;
  }
    
   */ 
    
    
    
    
  